#header {
  background: #ddefff;
  background: linear-gradient(#d3dcff, #fff);
}

#fundraiser {
  background: #e2dbe3;
  background: linear-gradient(to right, #e2dbe3, #d6c8c8), #d6c8c8;
  position  : relative;
  height    : 150px;
  overflow  : hidden;
}

#fundraiser a[href]:hover { background: none; }
#fundraiser, #fundraiser a[href] { font-family: monospace; }
#fundraiser a {
  text-decoration: none;
  color          : #36204d;
}

.progress-bar {
  background: #3e3748;

  position        : absolute;
  min-width       : 40px;
  top             : 0;
  left            : 0;

  height: 18px;
  line-height: 18px;
}

.percentage {
  color: white;
  position: absolute;
  right: 1em;
}

.message {
  max-height: 132px;
  padding-right: .7em;
  padding-left: .7em;
  padding-top: 0;
  margin-top: 0;
  margin-left: 230px;
}

.message p {
  margin-bottom: .5em;
  margin-top: .5em;
}

.progresswidget {
  position     : absolute;
  bottom       : 0;
  padding-right: 0;
  padding-left : 0;
  height       : 18px;
  width        : 100%;
}

.progress {
  font-weight  : bold;
  height       : 18px;
  background: #bec0c1;
}

.goal {
  color      : #000000;
  position   : absolute;
  padding    : 0 .1em;
  padding-top: .1em;
  right      : 0;
}

#fundraiser .bg-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 132px;
}

#fundraiser .bg-right {
    float: right;
    height: 132px;
}

#fundraiser .cat {
    position: absolute;
    top: 100px;
    right: 47px;
    height: 30px;
}

@media (max-width: 320px) {
/* We don't need to display a banner at this size! */
  #fundraiser {
    display: none;
  }
}
@media (max-width: 450px) {
  #fundraiser .message {
    font-size: 10px;
  }
}
@media (max-width: 550px) {
  #fundraiser .bg-left {
    display: none;
  }
  #fundraiser .message {
    margin-left: 1em;
  }
}
@media (min-width: 684px) {
.message p {
    font-size  : 12px;
  }
}

@media (min-width: 896px) {
  .cat {
    display: none;
  }
}

@media (max-width: 895px) {
  #fundraiser div.bg-right {
    display: none;
  }
}

@media (min-width: 1098px) {
  .message p {
    font-size  : 14px;
  }
}
